/* src/components/ChessboardComponent/ChessboardComponent.css */
.board-wrapper {
  width: 100%; 
  max-width: 1500px; 
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chessboard {
  width: 100%;
  height: 100%;
}
